// padding //
@mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}
@mixin padding-top($property) {
    padding-top: $property;
}
@mixin padding-right($property) {
    padding-right: $property;
}
@mixin padding-bottom($property) {
    padding-bottom: $property;
}
@mixin padding-left($property) {
    padding-left: $property;
}

// margin //
@mixin margin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}
@mixin margin-top($property) {
    margin-top: $property;
}
@mixin margin-right($property) {
    margin-right: $property;
}
@mixin margin-bottom($property) {
    margin-bottom: $property;
}
@mixin margin-left($property) {
    margin-left: $property;
}